body {
    background: #e7edf0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    top: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    z-index: 1000;
}

nav ul {
    width: 500px;
    text-decoration: none;
    margin: 0;
    padding-left: 65px;
}

nav ul li {
    display: inline-block;
    height: 50px;
}

nav ul li a {
    height: 47px;
    display: block;
    color: #66757f;
    text-decoration: none;
    transition: border 0.1s ease 0s
}

nav ul li a span {
    float: left;
    margin: 13px;
    font-size: 13px;
    font-weight: bold;
}

nav ul li a span .fas,
.far {
    margin-right: 7px;
    font-size: 18px;
}

nav ul li a:hover {
    color: #1c94e0;
    border-bottom: 3px solid #1c94e0;
}

nav .links {
    float: left;
}

nav .logo {
    margin: 0 auto;
    width: 51px;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

nav .logo img {
    width: 23px;
    display: block;
    margin: auto;
}

.container {
    margin: 70px;
}

#bg-user {
    height: 380px;
    width: 100%;
    margin-top: 49px;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    position: relative;
}

#bg-user .content-bg-profile {
    height: 320px;
    width: 100%;
    background: url('../img/banner.jpg');
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 590px;
    display: block;
    margin: 0 auto;
    background: #fff;
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
}

.container-tweet {
    position: relative;
    padding: 9px 12px 6px 12px;
    border-bottom: 1px solid #e6ecf0;
}

.tweet {
    margin-left: 58px;
}

.profile-img {
    background-color: rebeccapurple;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    position: absolute;
}

.toolbar {
    height: auto;
    width: 590px;
    margin-left: 50px;
    margin: 0 auto;
}

.toolbar .toolbar-menu {
    height: 58px;
    width: auto;
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}

.toolbar-menu .option {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    color: #657786;
    font-weight: bold;
}

.toolbar-menu .option-count {
    color: #66757f;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.toolbar-menu:hover,
.toolbar-menu:active {
    border-bottom: 2px solid #1DA1F2;
}

.toolbar-menu:hover .option-count,
.toolbar-menu:active .option-count {
    color: #1DA1F2 !important;
}

.bg-profile {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    float: left;
    position: absolute;
    top: 222px;
    left: 90px;
}

.bg-profile .img-profile {
    background: url('../img/dance.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 188px;
    height: 188px;
    border-radius: 50%;
    margin: auto;
    margin-top: 6px;
}

.user-xs {
    display: none;
}
.info-user-mb{
    display: none;
}

/* responsive */

@media(max-width:768px) {
    .links,
    .logo {
        display: none;
    }
    nav {
        height: 46px;
    }
    .user-xs {
        display: initial;
    }
    .user-xs a {
        color: #2d2d2d;
        text-decoration: none;
        line-height: 3.1;
        margin-left: 28px;
        font-weight: bold;
    }
    .user-xs a i {
        margin-right: 20px;
        color: #1c94e0;
    }
    #bg-user{
        margin-bottom: 0px;
    }
    #bg-user , #bg-user .content-bg-profile{
        height: 130px;
    }
    .container{
        width: 100%;
    }
    .toolbar {
        display: none;
    }
    .bg-profile {
        width: 90px;
        height: 90px;
        top: 84px;
        left: 11px;
        z-index: 100;
    }
    .bg-profile .img-profile{
        width: 84px;
        height: 84px;
        margin: 3px;
    }
    .info-user-mb{
        display: block;
        padding: 10px;
        background: white;
        padding-top: 32px;
        margin-bottom: 20px;
    }
    .info-user-mb h4{
        margin-bottom: 5px;
    }
    .info-user-mb .nick-name,
    .info-user-mb .date ,
    .info-user-mb .date i{
        color: #616161;
        font-size: .9rem;
    }

}